/* *{
    margin: 0;
    padding: 0;
} */
.mainbox{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 5px; */
    background-color: gray;
    /* position: relative; */
    /* display: grid; */
    /* grid-template-columns: 200px 500px 200px; */
    /* grid-template-columns: repeat(5,auto); */
    /* grid-column-gap: 10px; */
}
/* position -> relative,absolute,fixed, & sticky */
.box-1{
    width:  200px;
    height: 200px;
    background-color: red;
    position: relative;
    animation-name: redbox;
    animation-duration: 5s;
    /* position: relative;
    top: 100px;
    left: 500px; */
    /* margin: 200px; */
}


@keyframes redbox {
    /*animation two direction -> from & to direction, diagonal  */
    /* from{
        top: 0;
        left: 0;
    }
    to{
        top: 100px;
        left: 500px;
    } */

    0%{
        width:  200px;
        height: 200px;
        top: 0;
        left: 0;
        border-radius: 0%;

    }
    25%{
        width:  200px;
        height: 200px;
        top: 0;
        left: 500px;
        border-radius: 50%;
    }
    50%{
        width:  400px;
        height: 200px;
        top: 200px;
        left: 500px;
        border-radius: 0%;

    }
    75%{
        width:  200px;
        height: 200px;
        top: 200px;
        left: 0px;
        border-radius: 0%;

    }
    100%{
        width:  200px;
        height: 200px;
        top: 0px;
        left: 0px;
        border-radius: 0%;

    }
}

.box-2{
    width: 200px;
    height: 200px;
    background-color: yellow;
     /* position: absolute;
     top: 0;
     left: 500px; */

    /* position: absolute;
    top: 10px;
    left: 200px; */


    /* position: fixed;
    bottom: 10px;
    right: 10px; */

    /* position: sticky;
    top: 10px; */
}
.box-3{
    width: 200px;
    height: 200px;
    background-color: blue;
    flex-grow: 1;
    order: 1;
}
.box-4{
    width: 200px;
    height: 200px;
    background-color: orange;
    flex-grow: 1;
    order: 2;
}
.box-5{
    width: 200px;
    height: 200px;
    background-color: green;
    order: 6;
}
.box-6{
    width: 200px;
    height: 200px;
    background-color: black;
    order: 5;
    /* position: absolute;
    top: 0; */
}
/* .main{
    position: relative;
}
.move{
    position: absolute;
    top: 0px;
    left: 20px;
} */

.fullname{
    border: none;
    outline: none;
    border-bottom: 1px solid green;
    padding: 10px 60px  10px 10px;
}
.circle{
    position: relative;
    left: -20px;
}
.mainbo{
    display: flex;
}