*{
    margin: 0;
    padding: 0;
}
.gridlayout{
    width: 95%;
    height: auto;
    /* background-color: red; */
    margin-right: auto;
    margin-left: auto;
}
.signup{
    background-color: transparent;
    border: none;
    border: 1px solid black;
    padding: 5px 10px;
    font-family: "Lato", sans-serif;
    font-weight:600;
    font-style: normal;
}
.talk{
    font-family: "Lato", sans-serif;
    font-weight:600;
    font-style: normal;
}

.mainbutton{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0px;
}
.button1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    gap: 20px;
}
.black{
    background-color: green;
    padding: 20px 0px;
}
.scalar{
    color: #F9381E;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight:600;
    font-style: normal;
    font-size: 40px;
}
.headings li::marker{
    content:'\2713';
    font-size: 50px;
    color: red;
 }
/* .headings li{
   list-style-type: none;     
} */
 
.headings li a{
    text-decoration: none;
     color: white;
     font-family: "Jost", sans-serif;
     font-optical-sizing: auto;
     font-weight:300;
     font-style: normal;
}
.headings{
    display: flex;
    flex-wrap: wrap;

    gap: 80px;
}
.academic{
    background-color: #F9381E;
    color: white;
    padding: 10px 20px;
    border: none;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight:600;
    font-style: normal;
}

.mainnav{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;
}


.bg{
    background-image: url(./images/herosectionimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.heading{
    padding-top: 300px;
}

.box{
    width: 95%;
    height: 100px;
    background-color: red;
}
.moving{
    position: relative;
    top: 150px;
}
.padding{
    padding-top: 200px;
}
/* mobile code */

@media screen and (max-width:500px) {
    /* 1. display:flex antha class call panni display:block; */
    /* 2. margin and padding value less than 5px  to 10px */
    /* 3. width is max value. convert as 100% */

    .academic{
        padding: 5px;
        display: none;
    }
    .headings{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        font-size: 12px;
    }
    .scalar{
        color: #F9381E;
        font-family: "Jost", sans-serif;
        font-optical-sizing: auto;
        font-weight:600;
        font-style: normal;
        font-size: 10px;
    }        
    
}


::selection{
    color: orange;
    background-color: black;
}


/*  ipad code*/


@media (min-width:700px) and (max-width:880px){
    /* 1. display:flex antha class call panni display:block; */
    /* 2. margin and padding value less than 5px  to 10px */
    /* 3. width is max value. convert as 100% */

    .headings{
        gap: 10px;
    }
    .scalar{
        color: #F9381E;
        font-family: "Jost", sans-serif;
        font-optical-sizing: auto;
        font-weight:600;
        font-style: normal;
        font-size: 20px;
    }
    .academic{
        padding: 5px;
    }
}

.talk{
    /* 0-f ->0,1,2,3,4,5,6,7,8,9,10(a),11(b),12(c),13(d),14(e),and 15(f) */
    /* color: #0f1256; */
    /* 0-255 ->count(256) */
    /* color: rgb(255, 60, 60); */
    /* color: hsl(100, 100%, 50%); */
    
}
/* .Lorem::first-line{
    color: red;
    font-size: 50px;
    background-color: orange;
    font-weight: 100;
} */
/* .Lorem::first-letter{
    color: red;
    font-size: 50px;
    background-color: orange;
    font-weight: 100;
} */

/* .Lorem::before{
    content: '\0040';
    color: red;
    font-size: 50px;
    background-color: orange;
    font-weight: 100;
} */
/* .Lorem{
    opacity: 0;
}
.Lorem:hover{
    color: red;
    opacity: 1;
    background-color: orange;
} */
.overflow{
    width: 500px;
    overflow: hidden;
}
.overflow img{
    width:20%;
    height: 100px;


}
.overflow img:hover{
    width: 100%;
    height: 500px;
    transition: all 2s;
}